In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

pd.set_option("display.max_columns",None)

In [6]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Bhuvi%40123@localhost/atliq_hospitality_db")

df = pd.read_sql("select * from dim_date", engine)
df.head()

       date_d  mmm_yy  week_no   day_type
0  2022-05-01  22-May       19  weekend\r
1  2022-05-02  22-May       19  weekday\r
2  2022-05-03  22-May       19  weekday\r
3  2022-05-04  22-May       19  weekday\r
4  2022-05-05  22-May       19  weekday\r