In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

pd.set_option("display.max_columns",None)

In [3]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Bhuvi%40123@localhost/atliq_hospitality_db")

df = pd.read_sql("select * from fact_bookings", engine)
df.head()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,Jul012216558RT11,16558,2022-06-25,2022-07-01,2022-07-02,2,RT1,logtrip,0,No Show,9100,9100
1,Jul012216558RT110,16558,2022-06-24,2022-07-01,2022-07-03,1,RT1,others,5,Checked Out,9100,9100
2,Jul012216558RT111,16558,2022-06-11,2022-07-01,2022-07-05,2,RT1,logtrip,0,Checked Out,9100,9100
3,Jul012216558RT12,16558,2022-06-07,2022-07-01,2022-07-07,2,RT1,tripster,0,Checked Out,9100,9100
4,Jul012216558RT13,16558,2022-06-29,2022-07-01,2022-07-02,1,RT1,others,0,Cancelled,9100,3640