<table align="center" width=100%>
    <tr>
        <td>
            <div align="center">
                <font color="#21618C" size=24px>
                    <b>Hospitality Revenue Optimization
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

pd.set_option("display.max_columns",None)

In [2]:
from sqlalchemy import create_engine

conn = create_engine("mysql+pymysql://root:Bhuvi%40123@localhost/atliq_hospitality_db")

## Analyse Average Revenue generated and realised for each property

In [5]:
query = """
select dh.property_name, round(avg(revenue_generated),2) avg_revenue_generated, round(avg(revenue_realized),2) avg_revenue_realized
from fact_bookings fb left join dim_hotels dh
on fb.property_id = dh.property_id
group by dh.property_name;
"""

avg_rev = pd.read_sql(query, conn)
avg_rev

   property_name  avg_revenue_generated  avg_revenue_realized
0   Atliq Grands               14602.51              12417.54
1  Atliq Exotica               15985.29              13664.62
2     Atliq City               14434.13              12254.51
3      Atliq Blu               14069.19              11968.59
4      Atliq Bay               14270.62              12158.17
5   Atliq Palace               15149.06              12871.19
6  Atliq Seasons               19504.08              16606.10